.circle-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #030303;
    }

    to {
        box-shadow: 0 0 10px 10px #6d6d6d;
    }
}

.arrow {
    /* border-radius: 50%;
     object-fit: cover;
     width: 350px;
     height: 350px;
     object-position: top center;  */
    animation: pulse 3s infinite;

}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}