/* #profile .section__pic-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* #profile .section__pic-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
} */

/* #profile .section__pic-container img  {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

/* #profile .section__pic-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#profile .section__pic-container img:hover {
    transform: scale(1.1);
} */